header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
}
.header__img{
    height: 64px;
    width: 64px;
}
button {
    border:none;
    padding: o;
    background: none;
}

.footer__img{
    height: 64px;
    width: 64px;
}
body{
    background-color: white;
    margin: 0;
}